{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %} Main. Current Dollar {% endblock %}


    {% block content %}
    Main screen
    <h1> Current Dollar </h1>

        <br><br>

    {% if show_form %}
        <form method="POST">
            {% csrf_token %}

            {{ form }}

        <input type="submit">
        </form>
    {% else %}
    <h4>{{ amount }} рублей в долларах по курсу на данный момент это :<br>{{ currency }} долларов</h4>
    {% endif %}

    {% endblock %}

    {% block footer %}{% endblock %}






</body>
</html>